@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "權限不足";
}

<h2>權限不足</h2>
<p>你沒有權限存取這個頁面。</p>
<a href="/">回首頁</a>